$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-light-grey: #F8F8F8;
$color-medium-grey: rgba(0,0,0,0.05);
$color-green: #2FB400;

$color-page-bg: $color-light-grey;
$color-menu--hover: $color-medium-grey;

$box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
