name: Build and Deploy
on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    name: Build and deploy
    steps:
      - name: Init web
        run: cd web; npm install; npm run build
      - name: Init api
        run: cd api; npm install;CI=false npm run build;
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
